


.header h1{
    color: brown;
    position: relative;
    bottom: 10px;
    left: 560px;
}
input{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 20px;
    left: 550px;
    width: 100%;
    margin: 10px;
    padding: 10px;
}
button{
    position: relative;
    bottom: 20px;
    left: 575px;
    width: 100%;
    color: blue;
}