
@media screen and (min-width:1000px)and (max-width:1200){
    div{ background-color: red;
    }
    
}



/* ///css of main div */


.main-nav{
    width: 100%;
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 450px 700px 450px;
    position: absolute;
    top: 0px;
    box-shadow: rgba(10, 10, 10, 0.35) 0px 50px 100px -20px,
    rgba(0,0,0,0.4) 0px 30px 60px -30px;
    color: red;
}
/* ////////css of logo */
.logo{
    
    align-items: center;
    text-align: center;
    font-size: larger;

}
/* //////////css of main link */
.manuelink{
   
}
.manuelink ul{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    position: absolute;
    top: 10px;
    gap: 100px;
} 
.manuelink ul li a{
    color: rgb(54, 10, 228);
}
li{
    list-style: none;
}
/* /////////css of social media */
.social-media{
   
}
.social-media ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
   position: absolute;
   right: 10px;
   top: 0px;
   right: 180px;
   font-size: 30px;
}
/* ////////////css of hero-section */
.hero-section{
   position: absolute;
   top: 80px;
   left: 600px;
   align-items: center;
   text-align: center;
   color: blue;
}
.hero-section h1{
    position: relative;
    bottom: 40px;
    
}